.App {
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
}

.App > div:not(:first-child) {
    padding: 32px max(32px, calc((100% - 1200px) / 2));
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 1024px) {
    .App > div:not(:first-child) {
        padding: 24px 24px;
    }
}

@media (max-width: 768px) {
    .App > div:not(:first-child) {
        padding: 16px 16px;
    }
}