html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 9fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
}

#container > * {
    border: 1px dashed lightcoral;
}

header {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
}

nav {
    grid-row: 2;
    grid-column: 1 / span 3;
    text-align: center;
}

main {
    grid-row: 3;
    grid-column: 2;
}

#leftSide {
    grid-row: 3 / span 2;
    grid-column: 1;
}

#rightSide {
    grid-row: 3 / span 2;
    grid-column: 3  ;
}

