.PostComment {
    display: flex;
    flex-direction: column;
    background-color: #f7f9f9;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 4px 0;
}

.PostComment > .comment-body {
    font-size: 14px;
    color: #1a1a2e;
}

.PostComment > .comment-by-line {
    font-size: 12px;
    color: #536471;
    margin-top: 4px;
}