body {
    background-color: rgb(197, 109, 7);
    direction: rtl;
}

.header-text {
    color: darkred;
}

.header-text, .welcome-text, #copyrights     {
    text-align: center;
}

input:not([type=submit]) {
    background-color: yellow;
}

.login-table {
    border: 1px solid black;
}

.left {
    text-align: left;
}

input[type=submit] {
    background-color: lightblue;
}

#img-container > img {
    height: 64px;
}

#img-container {
    text-align: center;
    margin-top: 100px;
}

#copyrights {
    margin-top: 80px;
}