html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 12fr 1fr;
}

#container > * {
    border: 1px dashed lightcoral;
}

header {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    grid-row: 4;
}

main > div:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1;
} 

main > div:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
} 

main > div:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
} 

main > form {
    grid-row: 2;
    grid-column: 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 3fr;
}
main > form > * {
    border: 1px dashed lightsalmon;
}
main > * {
    border: 1px dashed lightgreen;
}

main > div > img {
    /* max-width: 200px;
    max-height: 200px; */
    width: 100%;
    height: 100%;
}

main > form > label:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

main > form > label:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
}

main > form > label:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
}

main > form > input:nth-child(1) {
    grid-row: 1;
    grid-column: 2;
}

main > form > input:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
}

main > form > input:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
}

main > form > div {
    grid-row: 4;
    grid-column: 2;
}





