.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.Header a {
  text-decoration: none;
  color: #536471;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.Header a:hover {
  background-color: #f0f2f5;
}

.Header .active {
  color: #1d9bf0;
  font-weight: 700;
}
