html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 9fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
}

#container > * {
    border: 1px dashed lightcoral;
}

header {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
}

nav {
    grid-row: 2;
    grid-column: 1 / span 3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0px 200px 0px 200px; */
    padding: 0px 200px 12px;
    /* padding: 20px 20px 20px 20px; */
    padding: 20px;
    align-items: center;
    /* padding-left: 200px;
    padding-right: 200px; */
}

main {
    grid-row: 3;
    grid-column: 2;
}

#leftSide {
    grid-row: 3 / span 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

#leftSide > * {
    border: 1px dashed lightgreen;
}

#rightSide {
    grid-row: 3 / span 2;
    grid-column: 3  ;
}

